In [1]:
a = 1

In [3]:
l = [("Pomme", 15), ("Banana", 8), ("Fraise", 12), ("kiwi", 9), ("Peche", 2)]
l.sort(key = lambda x:x[1])
print(l)

[('Peche', 2), ('Banana', 8), ('kiwi', 9), ('Fraise', 12), ('Pomme', 15)]

In [4]:
ch = "Bonjour le monde"
ch_reverse = ch[::-1]
print(ch_reverse)

ednom el ruojnoB

In [12]:
dikt = {
    "Pomme" :3,
    "Banane":7,
    "Kiwi":1
}

print(dikt["Pomme"])
print(dikt["Banane"])
print(dikt["Kiwi"])

somme = sum(dikt.values())
print(somme)

3
7
1
11

In [20]:
table_8 = 8


print("Table de 8 :")
for i in range(11):
    print(f"{table_8} * {i} = {table_8 * i}")

Table de 8 :
8 * 0 = 0
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [21]:
import os

In [22]:
print(os.getcwd())

c:\Users\mvoum\Desktop\Boot_camp\Python